Gathering data -  load and read dataset

In [1]:
import numpy as np
import pandas as pd

In [4]:
HPrice=pd.read_csv('/content/Housing (1).csv')

In [5]:
HPrice.head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]

Data preprocessing- One Hot Encoding

In [6]:
HPrice['mainroad']=HPrice['mainroad'].apply({'yes':1,'no':0}.get)
HPrice['guestroom']=HPrice['guestroom'].apply({'yes':1,'no':0}.get)
HPrice['basement']=HPrice['basement'].apply({'yes':1,'no':0}.get)
HPrice['hotwaterheating']=HPrice['hotwaterheating'].apply({'yes':1,'no':0}.get)
HPrice['airconditioning']=HPrice['airconditioning'].apply({'yes':1,'no':0}.get)
HPrice['prefarea']=HPrice['prefarea'].apply({'yes':1,'no':0}.get)
HPrice['furnishingstatus']=HPrice['furnishingstatus'].apply({'furnished':1,'semi-furnished':2,'unfurnished':0}.get)

In [7]:
HPrice.head()

      price  area  bedrooms  ...  parking  prefarea  furnishingstatus
0  13300000  7420         4  ...        2         1                 1
1  12250000  8960         4  ...        3         0                 1
2  12250000  9960         3  ...        2         1                 2
3  12215000  7500         4  ...        3         1                 1
4  11410000  7420         4  ...        2         0                 1

[5 rows x 13 columns]

Data preprocessing- splitting the data into dependent and independent features

In [8]:
A=HPrice[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']]
B=HPrice['price']

In [9]:
A.head()

   area  bedrooms  bathrooms  ...  parking  prefarea  furnishingstatus
0  7420         4          2  ...        2         1                 1
1  8960         4          4  ...        3         0                 1
2  9960         3          2  ...        2         1                 2
3  7500         4          2  ...        3         1                 1
4  7420         4          1  ...        2         0                 1

[5 rows x 12 columns]

In [10]:
B.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

Data preprocessing- split data into train and test part

In [11]:
from sklearn.model_selection import train_test_split

A_train, A_test, B_train, B_test= train_test_split(A,B,test_size=0.2)

In [12]:
len(A_train)

436

In [13]:
len(B_train)

436

In [14]:
len(A_test)

109

In [15]:
len(B_test)

109

Model building using linear regression

In [17]:
from sklearn.linear_model import LinearRegression

model=LinearRegression()
model.fit(A_train,B_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
prediction=model.predict(A_test)

In [19]:
prediction[0:5]

array([5045397.82974921, 5755726.02822455, 6585293.77384108,
       7009564.45721843, 5794852.52097678])

In [20]:
B.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

Model accuracy

In [21]:
model.score(A,B)

0.6777541825671503